button {
	display: inline-block;
	@include size(auto em(50px));
	max-width: 100%;
	
	@include margin(0 auto 0 em(5px));
	@include padding(0 em(36px));

	color: $color-white;
	background-color: $color-malibu;

	font-family: $title-font;
	@include font-sw(em(16px), $default-font-weight);

	border: 1px solid $color-malibu;
	border-radius: $border-radius;

	outline: none;
	text-transform: uppercase;
	
	@extend %transition;

	&:hover { 
		background-color: lighten($color-malibu, 5%);
		border: 1px solid lighten($color-malibu, 5%);
	}

	@media screen and (max-width: $bp-sm) {
		display: block;
		width: 100%;
		@include margin(em(15px) 0 0);
	}
}