// Form.scss
form {
	@include margin(em(36px) 0 0);
}

input {
	display: inline-block;
	@include size(em(300px) em(50px));
	max-width: 100%;
	@include margin(0);
	@include padding(0 em(24px));
	
	color: $color-white;
	background-color: rgba(255, 255, 255, 0.07);
	
	font-family: $title-font;
	@include font-sw(em(16px), $default-font-weight);

	border: 1px solid $color-white;
	border-radius: $border-radius;
	
	text-align: left;
	outline: none;

	@extend %transition;

	&:focus {
		background-color: rgba(255, 255, 255, 0.25);
	}
	
	@media screen and (max-width: $bp-sm) {
		display: block;
		width: 100%;
	}
}

@include placeholder($color-gallery);